<th:block th:fragment="script">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const showToast = (id) => {
                const toastEl = document.getElementById(id);
                if (toastEl) {
                    const toast = new bootstrap.Toast(toastEl);
                    toast.show();
                }
            };
            showToast('successToast');
            showToast('errorToast');

            const tooltipTriggerList = document.querySelectorAll('a[title],button[title]');
            tooltipTriggerList.forEach(el => new bootstrap.Tooltip(el));
        });
    </script>
</th:block>




